@model IEnumerable<MechanicsViewModel>

@{
    ViewBag.Title = "Requests by Helpers for Develepors";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="text-center row">
    @if(Model.Count() == 0){
        <h3>No reports so far.</h3>
    }
    else{
        @foreach (var gameMechanic in Model)
        {
            <div class="card col-4" style="width: 20rem; ">
                <h5 class="card-title mt-1">@gameMechanic.GameName</h5>
                <hr />
                <div class="card-body">
                    <p>@gameMechanic.MechanicDescription</p>
                </div>

                <form method="post" asp-controller="GameMechanics" asp-action="Confirmation" asp-route-mechanicId="@gameMechanic.MechanicId">
                    <input type="submit" value="Mark as Read" class="btn btn-outline-danger" />
                </form>
            </div>
        }
    }
    
</div>