@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>read</b>, <b>create</b>,
        <b>delete</b> and <b>edit</b> games.
    </p>
    <p class="lead mt-1">
        You can also see <b>all users and helpers</b> in the system.
    </p>
    <hr class="my-4">
    <a asp-area="" asp-controller="Game" asp-action="All"
       class="btn btn-primary btn-lg">All Games</a>
    <a asp-area="" asp-controller="Game" asp-action="Add"
       class="btn btn-primary btn-lg">Add Game</a>
    <span>  |   </span>
    <a asp-area="Admin" asp-controller="Game" asp-action="Mine"
       class="btn btn-primary btn-lg">My Games</a>
    <span>  |   </span>
    <a asp-area="Admin" asp-controller="User" asp-action="AllUsers"
       class="btn btn-primary btn-lg">All Users</a>
    <a asp-area="Admin" asp-controller="User" asp-action="AllHelpers"
       class="btn btn-primary btn-lg">All Helpers</a>
    <span>  |   </span>
    <a asp-area="Admin" asp-controller="GameMechanics" asp-action="All"
       class="btn btn-primary btn-lg">All Reports done by Helpers</a>
    <span>  |   </span>
   @* <a asp-area="Admin" asp-controller="Admin" asp-action="Rank"
       class="btn btn-primary btn-lg">Give Rank to Game Developer</a>
    <span>  |   </span>*@
</div>